<button class="slider_action" onclick="openPersonal()">
  <div class="icon-inc">
    {{ title }}
    {% if icon %}
      <i class="icon-hover-effect">{% render 'arrow-right' %}</i>
    {% endif %}
  </div>
</button>
