<a href="{{link}}">
  <button class="slider_action">
    <div class="icon-inc">
      {{ title }}
      {% if icon %}
        <i class="icon-hover-effect">{% render 'arrow-right' %}</i>
      {% endif %}
    </div>
  </button>
</a>
