<div id="announcement" class="container announcement-bg">
  <div class="page-width">
    <div class="content">
      <span>{{ section.settings.text }}
      </span>
      <a style="margin-left:5px" href="{{ section.settings.url }}">{{ section.settings.linktext }}</a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.announcement-bar.name",
    "max_blocks": 12,
    "class": "announcement-bar-section",
    "settings": [
      {
        "type": "text",
        "id": "text",
        "default": "Welcome to our store",
        "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
      }, {
        "type": "url",
        "id": "link",
        "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
      }, {
        "type": "text",
        "id": "linktext",
        "default": "Check it out",
        "label": "Link text"
      }
    ],
    "blocks": [
      {
        "type": "announcement",
        "name": "t:sections.announcement-bar.blocks.announcement.name",
        "settings": []
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "announcement"
        }
      ]
    }
  }
{% endschema %}