<div class="bispoke-section isolate{% unless section.settings.full_width %} page-width{% endunless %}">
  <div class="row">
    {% for block in section.blocks %}
      <div class="col-1/3 {% if forloop.index == 2 %} col-1 {%endif%}">
        <div class="row">
          <div class="col">
            <div class="circle-icon">
              {{ block.settings.icon }}
            </div>
          </div>
          <div class="col">
            <h3 class="bsc_heading">{{ block.settings.heading }}</h3>
            <p class="bsc_subheading">{{ block.settings.text }}</p>

          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  {% comment %} <div class="col-1/3 col-1">
    <div class="row">
    <div class="col">
    <div class="circle-icon">
    {% render 'icon-cs' %}
    </div>
    </div>
    <div class="col">
    <h3 class="bsc_heading">Customer Service</h3>
    <p class="bsc_subheading">We guide you through all the purchase process to help you resolve any questions</p>

    </div>
    </div>
    </div>
    <div class="col-1/3">
    <div class="row">
    <div class="col">
    <div class="circle-icon">
    {% render 'icon-interiror-design' %}
    </div>
    </div>
    <div class="col">
    <h3 class="bsc_heading">Interior Design Service</h3>
    <p class="bsc_subheading">We simplify the creative process from the moment you get in touch.</p>
    </div>
    </div>
  </div> {% endcomment %}</div>

{% schema %}
  {
    "name": "bespoke-section",
    "tag": "section",
    "class": "customer_section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [],
    "blocks": [
      {
        "type": "heading",
        "name": "t:sections.rich-text.blocks.heading.name",
        "limit": 3,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "Add a title",
            "label": "heading"
          }, {
            "type": "text",
            "id": "icon",
            "default": "Add svg icon code",
            "label": "icon svg"
          }, {
            "type": "inline_richtext",
            "id": "text",
            "default": "Talk about your brand",
            "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
          }

        ]
      }
    ],
    "presets": [
      {
        "name": "bespoke",
        "blocks": [
          {
            "type": "heading"
          }
        ]
      }
    ]
  }
{% endschema %}