<div class="related-products isolate{% unless section.settings.full_width %} page-width{% endunless %}">
  <div class="main-header-container">
    <h2>BEST SELLERS</h2>
  </div>
  <hr style="margin: 30px 0; margin-top:5px" />

  <div class="most-shopped-container">
    <div class="row">
      {% for block in section.blocks %}
        {% assign images = block.settings.image | img_url: 'master' %}
        <div class="col">
        {% render 'hoverable-card' title:{{block.settings.title}}, desc:{{block.settings.desc}}, link:{{block.settings.link}}, image:{{images}}, %}
      </div>
      {% endfor %}
      
  </div>
</div>
<br/>

{% schema %}
  {
    "name": "most-shopped",
    "tag": "section",
    "class": "homepage_best_sellers",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [],
    "blocks": [
      {
        "type": "heading",
        "name": "t:sections.rich-text.blocks.heading.name",
        "limit": 4,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Heading"
          },
          {
            "type": "inline_richtext",
            "id": "desc",
            "default": "short text",
            "label": "description"
          },
          {
            "type":"image_picker",
            "id": "image",
            "label": "add an image"
          },
          {"type": "url", "id":"link", "label": "add url"}
         
         
        ]
      }
    ],
    "presets": [
      {
        "name": "Most Shopped Collection"
       
      }
    ]
  }
{% endschema %}