<style>
  .half-col {
    width: 50%;
  }
  .service_image_container img {
    width: 100%;
  }
  .desc.bullet {
    width: 80%;
  }
  .desc.bullet li {
    list-style: none;
    display: flex;
    align-items: center;
  }
  .desc.bullet ul {
    padding: 0;
  }

  /* Set the list image as background image*/
  .desc.bullet li::before {
    content: '';
    display: inline-block;
    margin-right: 10px;

    /* Height of the list image*/
    height: 20px;

    /* Width of the list image*/
    width: 20px;
    background-size: contain;
    background-image: url('https://cdn.shopify.com/s/files/1/0779/1745/4639/files/check-circle.png?v=1697201104');
  }

  /* .desc.bullet ul {
    list-style-image: url('https://cdn.shopify.com/s/files/1/0779/1745/4639/files/check-circle.png?v=1697201104');
  } */
  .content-container {
    padding-left: 60px;
  }
</style>
<br>
<br>
<br>
<div class="page-width">
  <div class="row">
    <div class="half-col">
      <div class="service_image_container">
        <img src="{{ section.settings.image | img_url: 'master' }}">
      </div>
    </div>
    <div class="half-col">
      <div class="content-container">
        <h2 class="title">Our Solution</h2>
        <div class="desc bullet" style="text-align:left;line-height:2">
          {{ section.settings.text }}
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>

{% schema %}
{
  "name": "Service Details",
  "tag": "section",
  "class": "services",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "choose image"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Enter text",
      "default": "<p></p>"
    }
  ],
  "presets": [
    {
      "name": "Services Item"
    }
  ]
}
{% endschema %}
