<div class="hover-container">
  <div class="img-hover-zoom">
    <img src="{{image}}" alt="This zooms-in really well and smooth">
  </div>
  <div class="hover-card-details">
    <h2>{{ title }}</h2>
    <p>{{ desc }}</p>
    <a href="{{link}}" class="card-link">SHOP NOW!
      <span class="card-arrow">{% render 'arrow-right' %}</span>
    </a>
  </div>
</div>