/* .contact-page {
  padding: 0 70px;
} */

p {
  color: #4a4a4a;
  margin: 0;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.col-50 {
  width: 50%;
}

.ico {
  background: #f7edea;
  width: 55px;
  height: 55px;
  border-radius: 9000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col.col-desc {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

b {
  color: #000;
  font-family: Cormorant;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
a {
  color: #000;
}

h2 {
  color: var(--Black---Black--Text, #000);
  font-family: Cormorant;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.bdr {
  border-right: 1px solid #e3e3e3;
  padding-right: 10px;
}

.content-container {
  padding-left: 40px;
}
h3 {
  color: var(--Text---white, #fff);
  font-family: Cormorant;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.full-img {
  text-align: center;
  background-position: center !important;
  background-size: cover !important;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.full-img p {
  color: var(--Text---white, #fff);
  text-align: center;
  font-family: Nunito;
  display: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.anim {
  animation: var(--animation-slide-in);
  animation-delay: calc(var(--animation-order) * 75ms);
}

.full-img:hover .anim {
  color: white;
  display: flex;
  align-items: center;
}

p.anim svg path {
  fill: white;
}

.field-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: left;
}

.field-container input {
  width: 100% !important;
  height: 45px;
  margin-bottom: 15px;
  border: 1px solid var(--Black---Grey-2, #d2d2d2);
  color: var(--Black---Grey-3, #b0b0b0);
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  padding-left: 10px;
  line-height: normal;
}
.field-container select {
  width: 100% !important;
  height: 45px;
  margin-bottom: 15px;
  border: 1px solid var(--Black---Grey-2, #d2d2d2);
  color: var(--Black---Grey-3, #b0b0b0);
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  padding-left: 10px;
  line-height: normal;
}

.field-container label {
  color: var(--Black----Grey-4, #818181);
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.progress {
  margin: 10px auto;
  padding: 0;
  width: 100%;
  height: 7px;
  overflow: hidden;
  background: #e5e5e5;
}

.bar {
  position: relative;
  float: left;
  min-width: 1%;
  height: 100%;
  background: var(--primary-color-1, #c0b6a8);
}

.next_btn {
  background: var(--primary-color-1, #c0b6a8);
  border: none;
  border-radius: 200px;
  cursor: pointer;
  color: white;
  padding: 12px 32px;
  color: var(--Text---white, #fff);
  text-align: center;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer !important;
}

.check-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.check-container input:checked {
  background-color: #c0b6a8;
}
.check-container input {
  width: 20px !important;
  height: 20px;
  margin-bottom: 15px;
  color: var(--Black---Grey-3, #b0b0b0);
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  padding-left: 10px;
  line-height: normal;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  cursor: pointer !important;
}
.stage_1,
.stage_2,
.stage_3 {
  text-align: right;
}

.stage_1 p,
.stage_2 p,
.stage_3 p {
  display: flex;
  text-align: left;
  color: var(--Black----Grey-4, #818181);
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 156.25% */
}

.stage_1 h4,
.stage_2 h4,
.stage_3 h4 {
  text-align: left;
}

h4 {
  color: var(--Black---Black--Text, #000);
  font-family: Cormorant;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.cartmodal-content {
  background-color: #fefefe;
  margin: 8% auto;
  padding: 30px;
  border: 0;
  width: 500px;
  position: relative;
  border-radius: 10px;
}
p.mission {
  color: var(--Black---Black--Text, #000);
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}

@media (max-width: 790px) {
  .bdr {
    border-right: 0;
  }
  .contact-page {
    padding: 0;
  }
  .contact-page .row {
    display: block;
  }
  .col-50 .row {
    display: flex;
  }
  .col-50 {
    width: 100%;
    margin-bottom: 20px;
  }
  .content-container {
    padding-left: 0;
  }
}

.input-error {
  border: solid 1px #f90000 !important;
}
