<div class="bispoke-section isolate{% unless section.settings.full_width %} page-width{% endunless %}">
  <h2 class="section_heading">FEATURED IN</h2>
  <hr style="margin: 30px 0;" />

  <div class="featured_container">
    <div class="row">
      <div class="featured_item">
        <img
          src="https://cdn.shopify.com/s/files/1/0779/1745/4639/files/fa-brands-6.png?v=1689284286"
          alt="Harrolds"
          class="featured_img">
      </div>
      <div class="featured_item">
        <img
          src="https://cdn.shopify.com/s/files/1/0779/1745/4639/files/Vector.png?v=1689284287"
          alt="Harrolds"
          class="featured_img">
      </div>
      <div class="featured_item">
        <img
          src="https://cdn.shopify.com/s/files/1/0779/1745/4639/files/fa-brands-2.png?v=1689284286"
          alt="Harrolds"
          class="featured_img">
      </div>
      <div class="featured_item">
        <img
          src="https://cdn.shopify.com/s/files/1/0779/1745/4639/files/fa-brands-3.png?v=1689284286"
          alt="Harrolds"
          class="featured_img">
      </div>
      <div class="featured_item">
        <img
          src="https://cdn.shopify.com/s/files/1/0779/1745/4639/files/fa-brands-4.png?v=1689284286"
          alt="Harrolds"
          class="featured_img">
      </div>
      <div class="featured_item">
        <img
          src="https://cdn.shopify.com/s/files/1/0779/1745/4639/files/fa-brands-5.png?v=1689284286"
          alt="Harrolds"
          class="featured_img">
      </div>
      <div class="featured_item">
        <img
          src="https://cdn.shopify.com/s/files/1/0779/1745/4639/files/John-Lewis-Logo-edited_1.png?v=1689240078"
          alt="Harrolds"
          class="featured_img">
      </div>
      <div class="featured_item">
      <img
        src="https://cdn.shopify.com/s/files/1/0779/1745/4639/files/fa-brands-2.png?v=1689284286"
        alt="Harrolds"
        class="featured_img">
    </div>
  </div>


</div>


{% schema %}
  {
    "name": "fetured-in-section",
    "tag": "section",
    "class": "featured_in_section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [],
    "blocks": [
      {
        "type": "heading",
        "name": "t:sections.rich-text.blocks.heading.name",
        "limit": 3,
        "settings": [
          {
            "type": "inline_richtext",
            "id": "heading",
            "default": "Talk about your brand",
            "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
          }, {
            "type": "select",
            "id": "heading_size",
            "options": [
              {
                "value": "h2",
                "label": "t:sections.all.heading_size.options__1.label"
              }, {
                "value": "h1",
                "label": "t:sections.all.heading_size.options__2.label"
              }, {
                "value": "h0",
                "label": "t:sections.all.heading_size.options__3.label"
              }, {
                "value": "hxl",
                "label": "t:sections.all.heading_size.options__4.label"
              }
            ],
            "default": "h1",
            "label": "t:sections.all.heading_size.label"
          }
        ]
      }, {
        "type": "caption",
        "name": "t:sections.rich-text.blocks.caption.name",
        "limit": 3,
        "settings": [
          {
            "type": "text",
            "id": "caption",
            "default": "Add a tagline",
            "label": "t:sections.rich-text.blocks.caption.settings.text.label"
          }, {
            "type": "select",
            "id": "text_style",
            "options": [
              {
                "value": "subtitle",
                "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__1.label"
              }, {
                "value": "caption-with-letter-spacing",
                "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__2.label"
              }
            ],
            "default": "caption-with-letter-spacing",
            "label": "t:sections.rich-text.blocks.caption.settings.text_style.label"
          }, {
            "type": "select",
            "id": "text_size",
            "options": [
              {
                "value": "small",
                "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__1.label"
              }, {
                "value": "medium",
                "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__2.label"
              }, {
                "value": "large",
                "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__3.label"
              }
            ],
            "default": "medium",
            "label": "t:sections.rich-text.blocks.caption.settings.caption_size.label"
          }
        ]
      }, {
        "type": "text",
        "name": "t:sections.rich-text.blocks.text.name",
        "limit": 3,
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
            "label": "t:sections.rich-text.blocks.text.settings.text.label"
          }
        ]
      }, {
        "type": "button",
        "name": "t:sections.rich-text.blocks.buttons.name",
        "limit": 2,
        "settings": [
          {
            "type": "text",
            "id": "button_label",
            "default": "Button label",
            "label": "t:sections.rich-text.blocks.buttons.settings.button_label_1.label",
            "info": "t:sections.rich-text.blocks.buttons.settings.button_label_1.info"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "t:sections.rich-text.blocks.buttons.settings.button_link_1.label"
          },
          {
            "type": "checkbox",
            "id": "button_style_secondary",
            "default": false,
            "label": "t:sections.rich-text.blocks.buttons.settings.button_style_secondary_1.label"
          },
          {
            "type": "text",
            "id": "button_label_2",
            "label": "t:sections.rich-text.blocks.buttons.settings.button_label_2.label",
            "info": "t:sections.rich-text.blocks.buttons.settings.button_label_2.info"
          }, {
            "type": "url",
            "id": "button_link_2",
            "label": "t:sections.rich-text.blocks.buttons.settings.button_link_2.label"
          }, {
            "type": "checkbox",
            "id": "button_style_secondary_2",
            "default": false,
            "label": "t:sections.rich-text.blocks.buttons.settings.button_style_secondary_2.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured in",
        "blocks": [
          {
            "type": "heading"
          }, {
            "type": "text"
          }, {
            "type": "button"
          }
        ]
      }
    ]
  }
{% endschema %}